:root {
  --main-font: 'Montserrat', sans-serif;
  --btn-color: #FD9222;
  --color-text: #111111;
  --lable-color: #000000;
  --white-color: #ffffff;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 72px;
  padding-bottom: 72px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}



body {
 
  font-family: var(--main-font);
  color: var(--color-text);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767.9px) {
 .img-sellers{
  display: none;
 }

  .container{
    width: 375px;
  }


  .sellers-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
   

  }

  .sellers-para-btn{
    display: none;
  }

  .sellers-title-span{
    color: var(--btn-color);
  }

  .sellers-img{
    border-radius: 15px;
  
  }

  .sellers-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .sellers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .sellers-paragraf{  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    width: 306px;
   
  }

  .modal-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0.8;
    color: var(--white-color);
    padding: 12px 28px;
    background: var(--btn-color);
    border-radius: 100px;
    border: none;
    margin-top: 20px;
   
  }

  .paragraf_btn{
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .img-sellers{
    display: none;
  }

  .sellers-list-text{
    display: none;
  }

  .container{
    width: 768px;
  }


  .sellers-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;

  }

  .sellers-title-span{
    color: var(--btn-color);
  }

  .sellers-img{
    border-radius: 15px;  
  }

  .sellers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  .sellers-item{
    display: flex;
 
    gap: 16px;
    margin-bottom: 32px;
  }

  .paragraf_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 236px;
  }


  .sellers-paragraf{  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    width: 306px;
  }

  .modal-btn{
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.8;
    color: var(--white-color);
    padding: 14px 40px;
    background: var(--btn-color);
    border-radius: 100px;
    border: none;
   
  }
}

@media screen and (min-width: 1200px) {
  .container{
    width: 1200px;
  }

  .sellers-list-text{
    display: none;
  }

  .sellers-title{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;

  }

  .sellers-title-span{
    color: var(--btn-color);
  }

  .sellers-img{
    border-radius: 15px;  
  }

  .sellers-item{
    display: flex;
   
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .paragraf_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 567px;
  }


  .sellers-paragraf{  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    width: 306px;
  }

  .modal-btn{
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.8;
    color: var(--white-color);
    padding: 14px 40px;
    background: var(--btn-color);
    border-radius: 100px;
    border: none;
   
  }
}